@import 'global/variables';
@import 'global/mixins';
@import 'global/transitions';
@import 'global/navigation';
@import 'global/typography';
@import 'global/global';

body,html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
