<html>
  <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/1137/4602/t/1/assets/favicon.png?9911631388210973815" type="image/png">

  <title>
    Spaghetti Emoji
  </title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Spaghetti Emoji">
  <meta property="og:image" content="">
  <meta property="og:image:secure_url" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="Spaghetti Emoji">
  <meta name="twitter:card" content="summary">
  <link rel="canonical" href="">
  <meta name="google-site-verification" content="">
  <meta property="og:title" content="Spaghetti Emoji">
  <meta property="og:site_name" content="Spaghetti Emoji">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta itemprop="name" content="Spaghetti Emoji">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="canonical" href="">

  <link rel="apple-touch-icon" href="">

  </head>
  <body>

  <div id="main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
